
.app-root {
    height: 100%;
    width: 100%;
}

.app-sidebar {
    width: 40%;
}

.app-body {}

.app-page {
    margin: 0 auto;
    width: 80%;
    min-height: 400px;
    max-width: 1200px;
}

.app-section {}

.app-light {
    color: black;
}

.app-dark {}