
body, input, textarea {
  font-family: 'Lucida Grande', Verdana, 'Helvetica','Source Han Sans CN', 'Wenquanyi Micro Hei',
    'MicroSoft Yahei', 'Sans-serif';
  font-size: 15px;
  line-height: 2em;
}

.is-muted {}
