
.button {
    display: inline-block;
    color: white;
    padding: 0 1em;
    font-size: 12px;
    cursor: pointer;
    transition-property: transform;
    transition-duration: 300ms;
    -webkit-user-select: none;
}

.button:hover {
    transform: scale(1.03);
}
.button:active {
    opacity: 0.7;
}

.button.is-attract {
    background-color: hsla(240, 100%, 75%, 0.5);
}

.button.is-danger {
    background-color: hsla(0, 100%, 50%, 0.32);
}

.button.is-minor {
    background-color: hsla(0, 0%, 0%, 0.2);
}
